<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LRD- Lungs Related Disease Detection</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }} assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="{{ url_for('static', filename='assets/css/variables.css') }}" rel="stylesheet">
  
  <script src="https://kit.fontawesome.com/ec5081cbc2.js" crossorigin="anonymous"></script>
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1><img src="{{url_for('static', filename='logo.jpg')}}" class="img-fluid" alt=""><span></span></h1>
      </a>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->
      <h1><img src="{{url_for('static', filename='lie.png')}}" class="img-fluid" height="750px" width="75px" alt=""><span></span></h1>
    </div>
  </header>

  <main id="main">
    <div class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>LRD - Lungs Related Disease Detection</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>LRD</li>
          </ol>
        </div>
      </div>
    </div>

    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta p-5 mt-5">
      <div class="container" data-aos="zoom-out">
        <div class="row g-5">
          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3>Lungs Related Disease Detection</h3>
            <p>Please Upload your Chest X-ray here </p>
            <div class="">
              <form method="post" action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data" id="upload-form">
                <div class="form-group files">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <input type="file" id="file" class="form-control" name="file" required>
                  <label for="file"> <i class="fa-solid fa-cloud-arrow-up"></i> </label>
                </div>
                <input class="cta-btn align-self-start" type="submit" value="Submit" name="submit">
              </form>
            </div>
            <!-- <a class="cta-btn align-self-start" href="#">See Result</a> -->
          </div>
    
          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="{{url_for('static', filename='lrd.jpg')}}" alt="" class="img-fluid">
            </div>
          </div>
    
        </div>
    
      </div>
    </section>
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
  
    <div class="footer-content">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Trace IT</h3>
              <p>
                SGGSIE&T <br>
                Vishnupuri, Nanded<br><br>
              </p>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
  
          </div>
  
        </div>
      </div>
    </div>

    <footer>
    
      <div class="footer-legal text-center">
        <div
          class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
    
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <div class="copyright">
              &copy; Copyright <strong><span>TraceIT</span></strong>. All Rights Reserved
            </div>
          </div>
    
          <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
    
        </div>
      </div>
    
    </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  
  <script>

    $("#file-picker").change(function () {

      var input = document.getElementById('file-picker');

      for (var i = 0; i < input.files.length; i++) {
        var ext = input.files[i].name.substring(input.files[i].name.lastIndexOf('.') + 1).toLowerCase()

        if ((ext == 'jpg') || (ext == 'png')) {
          $("#msg").text("Files are supported")
        }
        else {
          $("#msg").text("Files are NOT supported")
          document.getElementById("file-picker").value = "";
        }
      }
    });

  </script>


<!-- Vendor JS Files -->
<!-- <link href="{{ url_for('static', filename='assets/css/variables.css') }}" rel="stylesheet"> -->
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }} "></script>
<script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }} "></script>
<script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }} "></script>
<script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }} "></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='assets/js/main.js') }} "></script>
<script src="https://kit.fontawesome.com/ec5081cbc2.js" crossorigin="anonymous"></script>
</body>

</html>